.container-home {
  display: flex;
  position: relative;
}

.home-left {
  height: calc(100vh - 40px);
  width: 50%;
  background-color: var(--primary-red);
}

.home-text {
  position: absolute;
  font-size: 250px;
  font-weight: 900;
  top: calc(50% - 300px);
  left: calc(50% - 250px);
}

.home-text-dot {
  color: var(--primary-red);
}

.animation-dot {
  position: absolute;
  animation-iteration-count: infinite;
  animation-name: dot-animation;
  animation-duration: 0.9s;
}

.home-right {
  height: calc(100vh - 40px);
  width: 50%;
  background-color: var(--primary-grey);
}
