.container-home {
  display: flex;
  position: relative;
}

.home-left-section {
  height: calc(100vh - 40px);
  width: 50%;
  background-color: var(--primary-red);
}

.home-text {
  position: absolute;
  font-size: 250px;
  font-weight: 900;
  top: calc(50% - 300px);
  left: calc(50% - 250px);
}

.home-text-dot {
  color: var(--primary-red);
  cursor: pointer;
}

.animation-dot {
  position: absolute;
  animation-name: dot-animation;
  animation-duration: 0.9s;
  cursor: pointer;
}

.scroll-image {
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: calc(50% - 19px);
  fill: var(--primary-grey);
  stroke: var(--primary-black);
  stroke-width: 5;
  cursor: pointer;
  animation: arrow-down-animation 1.5s infinite;
}

.home-right-section {
  height: calc(100vh - 40px);
  width: 50%;
  background-color: var(--primary-grey);
}

.container-header {
  position: absolute;
  right: 0;
  top: calc(50% - 40px);
  margin-right: 10px;
}
